In [12]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 kB 2.2 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [1]:
import pandas as pd

In [4]:
Data = pd.read_excel(r"..\Data\Case Study_2024.xlsx",sheet_name='Raw Data',header=1)

In [7]:
Data.columns = ['City', 'Year', 'Month', 'Unit Sales', 'Revenue']

In [8]:
Data

     City  Year Month  Unit Sales   Revenue
0       1  2015   Jan       10639   2659750
1       2  2015   Jan       24232   6058000
2       3  2015   Jan       11861   2965250
3       4  2015   Jan       51507  12876750
4       1  2015   Feb       15256   3814000
..    ...   ...   ...         ...       ...
427     4  2023   Nov       70126  17531500
428     1  2023   Dec       29061   7265250
429     2  2023   Dec       76623  19155750
430     3  2023   Dec       18420   4605000
431     4  2023   Dec       88200  22050000

[432 rows x 5 columns]

In [12]:
Data['Year_Date'] = Data['Month'].astype(str)+"-"+Data['Year'].astype(str)

In [13]:
Data

     City  Year Month  Unit Sales   Revenue Year_Date
0       1  2015   Jan       10639   2659750  Jan-2015
1       2  2015   Jan       24232   6058000  Jan-2015
2       3  2015   Jan       11861   2965250  Jan-2015
3       4  2015   Jan       51507  12876750  Jan-2015
4       1  2015   Feb       15256   3814000  Feb-2015
..    ...   ...   ...         ...       ...       ...
427     4  2023   Nov       70126  17531500  Nov-2023
428     1  2023   Dec       29061   7265250  Dec-2023
429     2  2023   Dec       76623  19155750  Dec-2023
430     3  2023   Dec       18420   4605000  Dec-2023
431     4  2023   Dec       88200  22050000  Dec-2023

[432 rows x 6 columns]

In [16]:
Data[["City","Year","Revenue"]].groupby(["City","Year"]).mean()

                Revenue
City Year
1    2015  5.126479e+06
     2016  5.159562e+06
     2017  5.162646e+06
     2018  5.521792e+06
     2019  5.868771e+06
     2020  6.431062e+06
     2021  6.159833e+06
     2022  6.365438e+06
     2023  5.996479e+06
2    2015  1.082698e+07
     2016  1.083542e+07
     2017  1.059148e+07
     2018  1.069043e+07
     2019  1.101735e+07
     2020  1.037354e+07
     2021  1.117679e+07
     2022  1.059921e+07
     2023  1.116377e+07
3    2015  4.167000e+06
     2016  4.070494e+06
     2017  3.528375e+06
     2018  3.915938e+06
     2019  3.893458e+06
     2020  4.077315e+06
     2021  3.689940e+06
     2022  3.921854e+06
     2023  3.318000e+06
4    2015  1.302962e+07
     2016  1.366139e+07
     2017  1.487305e+07
     2018  1.482277e+07
     2019  1.663501e+07
     2020  1.705888e+07
     2021  1.725083e+07
     2022  1.847302e+07
     2023  1.971652e+07